{% extends 'basePublic.html.twig' %}

{% block title %}Arts Musants{% endblock %}

{% block body %}


<div class="jumbotron text-center">
    <h2>Catherine Barbet</h2>
    <h1>Arts Musants</h1>
</div>
<div class="container">
    <div class="row">
        <div id="BlancDeBlancCarousel" class="col-12 col-sm-4 carousel slide" data-ride="carousel">

            <a href="{{path('blancdeblanc')}}">
                <div class="carousel-inner">
                    {% for painting in paintingsBlancDeBlanc %}

                    <div class="carousel-item {% if painting == paintingsBlancDeBlanc[0] %} active{% endif %}">
                        <img class="d-block w-100" src="{{ asset('uploads/pictures/' ~ painting.picture) }}"
                            alt="picture slide">
                    </div>
                    {% endfor %}
                </div>
            </a>
        </div>

        <div id="CouleursEtMatieresCarousel" class="col-12 col-sm-4 carousel slide" data-ride="carousel">

            <a href="{{path('couleursetmatieres')}}">
                <div class="carousel-inner">
                    {% for painting in paintingsCouleursEtMatieres %}

                    <div class="carousel-item {% if painting == paintingsCouleursEtMatieres[0] %} active{% endif %}">
                        <img class="d-block w-100" src="{{ asset('uploads/pictures/' ~ painting.picture) }}"
                            alt="picture slide">
                    </div>
                    {% endfor %}
                </div>
            </a>
        </div>

        <div id="WhiteSpiritCarousel" class="col-12 col-sm-4 carousel slide" data-ride="carousel">

            <a href="{{path('whitespirit')}}">
                <div class="carousel-inner">
                    {% for painting in paintingsWhiteSpirit %}

                    <div class="carousel-item {% if painting == paintingsWhiteSpirit[0] %} active{% endif %}">
                        <img class="d-block w-100" src="{{ asset('uploads/pictures/' ~ painting.picture) }}"
                            alt="picture slide">
                    </div>
                    {% endfor %}
                </div>
            </a>
        </div>

    </div>
</div>

<div class="cards">
    <h3>Movies</h3>
    <h1>Popular</h1>
    <div class="card card__one">
        <div class="card__bg"></div>
        <img class="card__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_mono.png" />
        <div class="card__text">
            <p class="card__title">Princess Mononoke</p>
        </div>
    </div>
    <div class="card card__two">
        <div class="card__bg"></div>
        <img class="card__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_chihiro.png" />
        <div class="card__text">
            <p class="card__title">Spirited Away</p>
        </div>
    </div>
    <div class="card card__three">
        <div class="card__bg"></div>
        <img class="card__img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/3dr_howlcastle.png" />
        <div class="card__text">
            <p class="card__title">Howl's Moving Castle</p>
        </div>
    </div>
</div>

<span class="notice">view on desktop for mousemove</span>
<a class="twitter__link" target="_blank"
    href="https://twitter.com/intent/tweet?text=Check%20out%20this%203D%20CSS%20depth%20effect%20from%20@dazulu&via=CodePen%20&hashtags=codepen%2cfrontend&url=https://codepen.io/dazulu/details/VVZrQv/"><img
        class="twitter__icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/62105/twitter.svg" /> Share
</a>

{% endblock %}