{% extends 'basePublic.html.twig' %}

{% block title %}Arts Musants{% endblock %}

{% block body %}


<div class="jumbotron text-center">
    <h2>Catherine Barbet</h2>
    <h1>Arts Musants</h1>
</div>

<div class="container">
    <div class="row">
        <div id="BlancDeBlancCarousel" class="col-9 col-sm-4 carousel slide" data-ride="carousel">

            <a href="{{path('blancdeblanc')}}">
                <div class="carousel-inner">
                    {% for painting in paintingsBlancDeBlanc %}

                    <div class="carousel-item {% if painting == paintingsBlancDeBlanc[0] %} active{% endif %}">
                        <img class="d-block w-100" src="{{ asset('uploads/pictures/' ~ painting.picture) }}"
                            alt="picture slide">
                    </div>
                    {% endfor %}
                </div>
                <p class="text-center">Blanc de Blanc</p>
            </a>
        </div>

        <div id="CouleursEtMatieresCarousel" class="col-9 col-sm-4 carousel slide" data-ride="carousel">

            <a href="{{path('couleursetmatieres')}}">
                <div class="carousel-inner">
                    {% for painting in paintingsCouleursEtMatieres %}

                    <div class="carousel-item {% if painting == paintingsCouleursEtMatieres[0] %} active{% endif %}">
                        <img class="d-block w-100" src="{{ asset('uploads/pictures/' ~ painting.picture) }}"
                            alt="picture slide">
                    </div>
                    {% endfor %}
                </div>
                <p class="text-center">Couleurs &amp; Matières</p>
            </a>
        </div>

        <div id="WhiteSpiritCarousel" class="col-9 col-sm-4 carousel slide" data-ride="carousel">

            <a href="{{path('whitespirit')}}">
                <div class="carousel-inner">
                    {% for painting in paintingsWhiteSpirit %}

                    <div class="carousel-item {% if painting == paintingsWhiteSpirit[0] %} active{% endif %}">
                        <img class="d-block w-100" src="{{ asset('uploads/pictures/' ~ painting.picture) }}"
                            alt="picture slide">
                    </div>
                    {% endfor %}
                </div>
                <p class="text-center">White Spirit</p>
            </a>
        </div>

    </div>
</div>

{% endblock %}