{% extends 'basePublic.html.twig' %}

{% block title %}Blanc de Blanc - Arts Musants{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1>Blanc de Blanc</h1>
</div>

<div class="container">
    <div class="row grid">

        {% for painting in pagination %}

        <div class="paintingimage col-9 col-sm-4 align-self-center {% if painting.width >= painting.height * 1.5 %}col-sm-8{% endif %}

            {% if painting.height > 30 %}col-sm-8{% endif %}">

            <a href="{{ path('paintings_showOnePublic', {'id': painting.id}) }}">
                <img class="col-12" src="{{ asset('uploads/pictures/' ~ painting.picture)}}" alt="{{ painting.title }}">
                <p class="text-center showonhover">
                    {{ painting.title }} <br> {{ painting.height }}cm x {{ painting.width }}cm
                </p>
            </a>
        </div>

        {% endfor %}
        {# paginator display navigation #}
        <div class="navigation col-12">
            <div class="col-3">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}