{% extends 'base.html.twig' %}

{% block title %}Edit Paintings{% endblock %}

{% block body %}
<h1>Edit Paintings</h1>
<div class="text-center">
    <img src="{{ asset('uploads/pictures/' ~ painting.picture) }}" alt="{{ painting.title }}">
</div>
<div class="text-center my-3">
    <a href="{{ path('paintings_index') }}">back to list</a>
</div>
{{ include('paintings/_form.html.twig', {'button_label': 'Update'}) }}
{{ include('paintings/_delete_form.html.twig') }}
{% endblock %}