{% if app.request.locale == 'en' %}
<ul class="languagepicker">
  <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
    <li>
      <img src="{{ asset('build/images/united-kingdom-flag-round-icon-16.png') }}" alt="English" />
    </li>
  </a>
  <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}" <li>
    <img src="{{ asset('build/images/france-flag-round-icon-16.png') }}" alt="French" />
    </li>
  </a>
</ul>
{% else %}
<ul class="languagepicker">
  <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
    <li>
      <img src="{{ asset('build/images/france-flag-round-icon-16.png') }}" alt="French" />
    </li>
  </a>
  <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}" <li>
    <img src="{{ asset('build/images/united-kingdom-flag-round-icon-16.png') }}" alt="English" />
    </li>
  </a>
</ul>
{% endif %}
{#
{{ dump(app.request.locale) }}
#}