{% extends 'basePublic.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h3>Thanks for {{ action }} {{ name }} !</h3>

    <p>You're successfully {{ action }} {{ painting }} at Arts Musants ! </p>
    <p>A confirmation email has been sent to you at {{ email }} !</p>
    <a href="{{ path('home') }}">Back to home</a>
</div>
{% endblock %}