{% extends 'basePublic.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="text-center mt-4">
    <h3>{% trans %}Thanks{% endtrans %} {{ name }} !</h3>

    <p>{% trans %}You're successfully{% endtrans %} {{ action }} {{ painting }} {% trans %}at Arts Musants !{% endtrans %}</p>
    <p>{% trans %}A confirmation email has been sent to you at{% endtrans %} {{ email }} !</p>
    <a href="{{ path('home') }}">{% trans %}Back{% endtrans %}</a>
</div>
{% endblock %}